In [58]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import matplotlib as plt
import seaborn as sns
import sklearn
from wordcloud import WordCloud
import plotly.express as px

In [ ]:
df = pd.read_excel('upwork_skills.xlsx')

In [ ]:
df.head(10)

,job title,salary,level,time-needed,up-skill-badge,up-skill-badge 2,amount-spent,country,up-skill-badge 3,up-skill-badge 4
0,Financial Analytics,Fixed-price,Intermediate,Est. Budget:,Microsoft Excel,Portfolio Performance Modeling,$0,Pakistan,NaN,NaN
1,Excel to professional google studio Dashboard,Hourly: $5-$6,Intermediate,"Less than 1 month, Less than 30 hrs/week",SQL,R,$0,India,Python,Query Development
2,GA4 & SEMRush with Looker Studio,Hourly: $20-$45,Intermediate,"1 to 3 months, Less than 30 hrs/week",Google Data Studio,NaN,$200+,Australia,NaN,NaN
3,Maintain and develop our MS BI platform,Hourly: $15-$25,Intermediate,"More than 6 months, Less than 30 hrs/week",Microsoft Power BI,Data Visualization,$40k+,China,Dashboard,API Integration
4,Need dashboard done one hour is expectation.,Hourly,Intermediate,"Less than 1 month, Less than 30 hrs/week",Data Analysis,Google Data Studio,$0,United States,BigQuery,Business Intelligence
5,Google Data Studio Client SEO Report Template,Hourly: $20-$45,Intermediate,"Less than 1 month, Less than 30 hrs/week",Looker,Dashboard,$700+,New Zealand,Google Data Studio,Data Visualization
6,Build a dashboard for our business,Hourly: $20-$45,Intermediate,"1 to 3 months, Less than 30 hrs/week",Klipfolio,Tableau,$10k+,Australia,Data Visualization,Dashboard
7,Tableau Developer and Designer,Fixed-price,Expert,Est. Budget:,Dashboard,API Integration,$1k+,Singapore,Tableau,Data Visualization
8,API integration with Power BI,Hourly: $35-$70,Expert,"Less than 1 month, Less than 30 hrs/week",Microsoft Power BI,API,$0,Australia,NaN,NaN
9,Mapbox | GIS: Geocode 15 polygons,Hourly: $35-$70,Expert,"Less than 1 month, Less than 30 hrs/week",GIS,QGIS,$20k+,United States,Digital Mapping,Mapbox

In [ ]:
top_skills1 = df["up-skill-badge"].value_counts()[:10]
top_skills1

Microsoft Power BI    27
Dashboard             26
Data Visualization    17
Microsoft Excel       14
Google Data Studio    11
API Integration       10
Tableau                8
Looker                 6
JavaScript             4
Google Analytics       4
Name: up-skill-badge, dtype: int64

In [ ]:
df["up-skill-badge"].isna().values.any()

False

In [ ]:
df_clean = df.dropna()
df_clean

,job title,salary,level,time-needed,up-skill-badge,up-skill-badge 2,amount-spent,country,up-skill-badge 3,up-skill-badge 4
1,Excel to professional google studio Dashboard,Hourly: $5-$6,Intermediate,"Less than 1 month, Less than 30 hrs/week",SQL,R,$0,India,Python,Query Development
3,Maintain and develop our MS BI platform,Hourly: $15-$25,Intermediate,"More than 6 months, Less than 30 hrs/week",Microsoft Power BI,Data Visualization,$40k+,China,Dashboard,API Integration
4,Need dashboard done one hour is expectation.,Hourly,Intermediate,"Less than 1 month, Less than 30 hrs/week",Data Analysis,Google Data Studio,$0,United States,BigQuery,Business Intelligence
5,Google Data Studio Client SEO Report Template,Hourly: $20-$45,Intermediate,"Less than 1 month, Less than 30 hrs/week",Looker,Dashboard,$700+,New Zealand,Google Data Studio,Data Visualization
6,Build a dashboard for our business,Hourly: $20-$45,Intermediate,"1 to 3 months, Less than 30 hrs/week",Klipfolio,Tableau,$10k+,Australia,Data Visualization,Dashboard
...,...,...,...,...,...,...,...,...,...,...
181,Design a live data dashboard for property mana...,Fixed-price,Intermediate,Est. Budget:,Presentation Design,Research Methods,$300k+,Singapore,Survey Flow,Psychometrics
182,Tableau Expert,Hourly: $20-$50,Intermediate,"1 to 3 months, Less than 30 hrs/week",Tableau,Microsoft Excel,$9k+,Romania,Business Intelligence,Data Visualization
186,Power BI Mentor for Skill Development and Trou...,Hourly,Expert,"Less than 1 month, Less than 30 hrs/week",Dashboard,API Integration,$1k+,Australia,Microsoft Power BI,Data Visualization
187,Spatial Data Provenance Ontology using semanti...,Fixed-price,Intermediate,Est. Budget:,Machine Learning,Java,$0,Australia,Python,TensorFlow
188,Google Sheets expert needed to recreate custom...,Fixed-price,Intermediate,Est. Budget:,JavaScript,Google Sheets,$1k+,Philippines,Data Visualization,Microsoft Excel

In [ ]:
top_skills2 = df_clean["up-skill-badge 2"].value_counts()[:10]
top_skills2

Data Visualization    25
Dashboard              7
Microsoft Power BI     7
Google Data Studio     6
Microsoft Excel        6
API Integration        5
Data Analysis          4
Digital Mapping        4
Presentations          4
SQL                    4
Name: up-skill-badge 2, dtype: int64

In [ ]:
skill1_2 = df_clean.groupby(["up-skill-badge", 'up-skill-badge 2'], as_index=False).agg({'job title': pd.Series.count})
skill1_2.sort_values('job title', ascending= False)

              up-skill-badge                       up-skill-badge 2  job title
71        Microsoft Power BI                     Data Visualization          9
10                 Dashboard                        API Integration          4
16                 Dashboard                     Microsoft Power BI          4
2            API Integration                              Dashboard          3
69        Microsoft Power BI                  Business Intelligence          3
..                       ...                                    ...        ...
35           Digital Mapping                           Google Earth          1
34           Digital Mapping                     Data Visualization          1
33  Design for Manufacturing                         Product Design          1
32        Data Visualization                                Tableau          1
93           iOS Development  Microsoft Power BI Data Visualization          1

[94 rows x 3 columns]

In [68]:
df_clean.to_excel(r'C:\Users\admin\Documents\Data Analysis\clean_upwork.xlsx')